body{
  background-color: #696969 !important;
  font-family: 'Roboto';
  color: white;
}

h1{
  color: white;
}

.link{
  list-style-type: none;
  display: inline;
  text-decoration: none;
}

.footer li{
  display: inline;
}

#home a:hover,
#home a:link,
#home a:active,
#home a:visited {
	color: white;
	text-decoration: none;
  font-weight: bold;
  float: right;
  font-size: 1.5em;
  padding-right: 10px;
}

.footer a:hover,
.footer a:link,
.footer a:active,
.footer a:visited {
	color: white;
	text-decoration: none;
  margin-right: 10px;
  font-size: 1em;
}

.socials a:hover,
.socials a:link,
.socials a:active,
.socials a:visited {
	color: white;
	text-decoration: none;
  margin-right: 10px;
  font-size: 1.25em;

}

h1{
  color: white;
}


.button{
  background: coral;
  padding: 1em 2em;
  color: white;
  border: 0;
  font-size: 1.25em;
}

.button:hover{
  background: #333;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color: #696969;
  margin: 17% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration:1s;
}

.modal-header h2{
  margin: 0;
}

.modal-header{
  background-color: coral;
  padding: 15px;
  color: #fff;
}

.modal-body{
  padding: 10px 20px;
}

.modal-footer{
  padding: 7px;
  text-align: right;
}

.closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.closeBtn:hover , .closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from{opacity: 0}
  to{opacity: 1}
}

#firstmodal{
  display: inline-block;
}

#secondmodal{
  display: inline-block;
}

#thirdmodal{
  display: inline-block;
}

#fifthmodal{
  display: inline-block;
}

#forthmodal{
  display: inline-block;
}


.socials li{
  display: block;
  text-decoration: none;
  margin-bottom: 15px;
}

.socials{
  padding: 0;
  text-decoration: none;
}

.col-sm{
  margin-bottom: 2em !important;
}

#all_modals{
  width: 90%;
}

.project_header{
  margin-bottom: 0.6em;
}

.button.button2{
  background-color: green;
}
