body{
  color:#B5651D;background-color:white
}

h1{
font-size: 5em; font-family: sans-serif; serif; Times; text-transform:uppercase;
}

h2{
  font-size: 3em; font-family: sans-serif; serif; Times;
}

h3{
  font-size: 3em; font-family: sans-serif; serif; Times;
}

li {
  display: inline; font-family: sans-serif; serif; Times;
}


p {
  font-family: 'Work Sans', "Times New Roman", Times, serif;
}

dd {
  font-family: 'Work Sans', "Times New Roman", Times,
