body{
  color:white;background-color:#191919
}

h1{
  background-color:#87CEFA; padding: 35px; font-size: 5em; font-family: "Crimson Text";
}

h2{
  font-size: 3em; font-family: "Crimson Text";
}

p {
  font-family: "Work Sans", "Times New Roman", Times, serif;
}
